
/* Tooltip text styling */
.tooltip-text {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}


/* 특정 툴팁 트리거: 배경 검정, 글자 흰색 */
.tooltip-text-inverted {
  background-color: black;
  color: white;
  padding: 2px 5px;
  border-radius: 3px; /* 선택 사항: 모서리를 둥글게 */
}

/* Ensure tooltip width, wrapping, and left alignment */
.tooltip-inner {
  white-space: pre-line; 
  max-width: 1200px; /* Adjust the maximum width for your tooltip */
  text-align: left; /* Align text to the left */
  word-wrap: break-word; /* Break long words if necessary */
  overflow-wrap: break-word; /* Ensure long words break */
}

.callout[title]:hover::after {
  content: none;
}

